Options -Indexes
RewriteEngine On
RewriteRule ^public/assets/ - [L]
RewriteRule ^index\.php$ - [L]
RewriteRule ^ index.php [QSA,L]

<FilesMatch "^(\.env|composer\.(json|lock)|README\.md)$">
    Require all denied
</FilesMatch>

